# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# VS Code
.vscode/
.code-workspace

# Bash Log
end
*.stackdump
git status

# Test
*pictures/

# Executables
*.air
*.swf
*.html
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
*.as3proj

# should NOT be excluded as they contain compiler settings and other important
asconfig.*

# information for Eclipse / Flash Builder.

# Other files and folders
.settings/
*.note